.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head{
  background-color: chocolate;
}
.data-table-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  max-width: 100%;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.header-row {
  background-color:#f05555;
  font-weight: bold;
  color: white;
}

.table-cell,
.table-header {
  flex: 1;
  padding: 8px;
  min-width: 100px;
  word-break: break-word;
}
.table-row:nth-child(even) {
  background-color: #ececec;
}

@media (max-width: 768px) {
  .table-row {
    flex-wrap: wrap;
  }

  .table-cell,
  .table-header {
    flex-basis: calc(50% - 16px);
    min-width: 0;
  }
}
.active{
  background-color:#f05555 ;
}
.pagination{
  margin-top: 50px;
  margin-left: 550px;
}